@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Source+Sans+3:wght@300&display=swap');
*{ 
    /*Estilos generales*/
    margin:0px 15px;
}
h1{
    text-align: center;
    padding: 20px;
}
.header{
    text-align: center;
    padding: 10px;
}
