@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Source+Sans+3:wght@300&display=swap');
/*Generales*/
*{ 
  margin:0px 15px;  
}
*::before,
*::after {
  box-sizing: border-box;
}
body {
    font-family: 'Source Sans 3', sans-serif; 
  }
body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: linear-gradient(
        115deg,
        rgba(158, 117, 108, 0.8),
        rgba(206, 178, 136, 0.7)
      ),
      url(https://cdn.pixabay.com/photo/2017/10/04/14/12/auditorium-2816353__340.jpg); 

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/*Encabezado*/
h1{
    padding: 20px;
    font-size:45px;
}    
.header{
    text-align: center;
    padding: 10px;
    color: white;
    font-weight: bolder;
}
p{
  font-size: 1.1em;
}
/*Formulario general*/
form{
    background-color: rgba(255, 255, 255, 0.75);
    color: rgb(100, 93, 93);
    padding: 50px;
    border-radius: 8px;
    font-weight: bold;
    max-width: 700px; 
    margin: auto;
    margin-top: 30px;
    box-shadow: 0 0 10px rgb(107, 100, 100);
    border: 1px solid rgba(109, 95, 93, 0.75);
    padding-right: 60px;
}
.label-input{
    font-size: 1.1rem;  
    position: absolute;
    margin-top:-84px ;
}
/*Entradas*/
input{
  padding-left: 15px;
  font-size: 1.1em;
}
.entrada:focus + .label-input{
  margin-top: -131px;
}
.mantener{
  margin-top: -131px;
}
@media (min-width: 600px) {
    input {
      width: 500px;
    }
  }
.entrada{
    display:block;
    margin: auto;
    height: 60px;
    color: rgb(138, 124, 124);
    background-color: rgba(89, 78, 78, 0.09); 
    border: 1px solid #a6abaf;
    border-radius: 3px; 
    width: 100%;
    margin-bottom: 40px;
    
}

select{
    display: block;
    margin: auto;
    width: 100%;
    height: 50px;
    color: rgb(100, 93, 93);
    background-color: rgba(255, 255, 255, 0.138); 
    border: 1px solid #a6abaf;
    border-radius: 3px; 
    font-size: 1.1em;

}
option{
    background-color:rgba(255, 255, 255, 0.138); ;
    color: black;
    border-radius: 30px;
}

.rad input{
  display: block;
  position: relative;
  bottom: 20px;
  right: 200px;
}

.check input{
  position: relative;
  bottom: 23px;
  right: 280px;
}
#submit{
  display: block;
  margin: auto;
  background-color: rgba(100, 92, 92, 0.726); 
  border: 1px solid #a6abaf;
  border-radius: 3px; 
  color: rgb(245, 241, 241);
  padding: 15px 20px;
  width: 100%;
  font-size: 1.1em;
}





    



